/* UNIVERSAL CSS */
* {
    box-sizing: border-box;
}

:root {
    --primary: rgba(24, 32, 181, 0.8);
    --secondary: rgba(26, 133, 205, 0.8);
    --tertiary: rgba(159, 159, 159, 0.8);
    --dark: rgba(60, 60, 60, 0.8);
    --light: rgba(255, 235, 189, 0.8);
}

body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
}

h1,
h2, 
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2 {
    font-size: 3vw;
}